@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rhodium+Libre&display=swap');

.vestige_logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;     
    padding: 0;           /* responsive vertical padding */
    width: 100%;
    max-width: 1754px;
    margin: 0 auto;         /* center the container itself */
    box-sizing: border-box;
}
.vestige_logo img {
    max-width: 500px;
    border-radius: 40px;
    height: auto;
    display: block;
    align-items: center;
}

body {
    background-color: #E0D5BF;
    font-family: "Rhodium Libre", serif;
}
.before_header { 
    display: flex;
    background-color: #8E765D;
    position: relative;
    max-width: 1754px;
}
.before_header h1 { /* Before & After */
    font-size: 40px;
    font-family: "Rhodium Libre", serif;
    font-weight: 200;
    font-style: normal;
    color: #ffffff;
    padding-left: 60px;
    flex-wrap: wrap;
    text-shadow: 6px 6px #5D4E3D;
}
.p1 { /* text below before and after heading */
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-top: 60px;
    margin-right: 60px;
    font-size: 1.5rem;
    text-align: left;
    justify-content: left;
}
.gallery { /* Before and after pictures */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: fit-content;
    gap: 100px;
    position: relative;
    margin-block: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.gallery-pair {
    display: flex;
    flex-direction: row;
    gap: 0px; /* gap between before/after */
}
.gallery-before{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; 
    width: 200px;
    height: 270px;
    object-fit: cover;
    margin: 0; /* Remove extra margins for even grid */
    display: block;
    box-sizing: border-box;
    transition: all 0.5s ease;    
}
.gallery-after {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 200px;
    height: 270px;
    object-fit: cover;
    margin: 0; /* Remove extra margins for even grid */
    display: block;
    box-sizing: border-box;
    transition: all 0.5s ease;  
}
.gallery-before:hover,
.gallery-after:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgb(255, 202, 77);
    transition:all 0.5s ease;
}
.qr { /* Box behind qr codes */
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 60px;
    background-color: #AD9476;
    box-sizing: border-box;
    min-width: 420px;
}
.card-content { /* text in between qr codes */
    position: relative;
    text-align: center;
    font-size: 30px;
    min-width: 420px;
}
.social-qr { /* qr code section */
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-width: fit-content;
}
.insta-qr, .fb-qr { /* qr codes */
    height: 250px;
    width: auto;
    box-sizing: border-box;
    min-width: fit-content;
    }
.dekstop-icon{
    width: 18px;
    height: 18px;
    margin-right: 10px; 
}

.dekstop-icons{ /* insta, fb, tiktok */
    width: 20px;
    height: 20px;
    margin-right: 20px; 
}
.logo{
  width: 300px;
  height: 150px;
  margin-left: -30px;
  
}
.footer{
    display: block;
    margin-top: 0px;
    width: 100vw;
    color: white;
    background-image: url('images/background.png');
    background-size: cover;  
    background-position: center;
    min-width: fit-content;
}

.fat-footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: fit-content;
}

.social-media{
    margin-right: 80px;
}

.contact, .social-media {
  display: flex;
  flex-direction: column;
}

.contact h2, .social-media h2 {
  margin-bottom: 20px;
}

.contact p, .social-media p {
  display: flex;
  align-items: center; 
  gap: 10px;           
  margin: 5px 0;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #E0D7BE;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: rgb(255, 202, 77);
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #0e5b10;
    background-color: transparent;
    text-decoration: underline;
}